__pycache__/
weather_licence.py
weather_example.json
bibo-calendar_creds.json
sacha-calendar_creds.json
last_run_date.txt
fetched_data.json
lib/
output.txt
.env
test_output.txt
calendar.txt
weather_cache.json
calendar_cache.json
